@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(circle at -14.09% 20.12%, #0a0014 0, #0a0014 50%, #0a0014 100%);
    flex-direction: column;
}
input{
    font-family: 'Righteous', cursive;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
main#container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid purple;
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
}
#containernum{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.numdivision{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
}
.numdivision input{
    width: calc(100%/4);
    transition: 0.2s all;
}
.numdivision input:hover{
    border: 2px solid rgb(218, 16, 218);
}
#resultdiv input{
    flex: 2;
}
input[type="text"]{
    
    padding: 6px 10px;
}
#container-icons{
    position: absolute;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    z-index: 0;
    font-size: 1.3em;
}
#container-icons span{
    animation: Animation 5s linear infinite;
    animation-duration: calc(120s / var(--i));
    font-weight: 700;
    color: rgb(255, 251, 0);
    transition: 5s all;
}
#container-icons span:nth-child(even){
    color: purple;
}
div#container-text{
    text-align: center;
    width: 100%;
    padding: 20px;
}
div#container-text h1{
    font-size: 3rem;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', cursive;
}
div#container-text h1, span{
    color: white;
    font-weight: 700;
}
div#container-text span{
    font-size: 1.3em;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: purple;
    width: 300px;
}
footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Righteous', cursive;
    padding: 20px;
}

@keyframes Animation {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(2);
    }
}

